@page
@model Model.Degree
@{
    ViewData["Title"] = "Degrees List";
}

<h2>Degrees</h2>

<table class="table">
    <thead>
        <tr>
           
            <th>Degree Name</th>
            <th>Creation Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="degressTableBody">
        <!-- Data will be populated dynamically -->
    </tbody>
</table>

<a asp-page="/Degrees/Create" class="btn btn-primary">Add Degree</a>
